Repository dimitristrechas/personal-site: changes, and which lefthook commands are due for each by the changed paths.
All: biome-lint, biome-format, eslint

biome-lint:
  run: npx @biomejs/biome check --no-errors-on-unmatched {staged_files}

biome-format:
  run: npx @biomejs/biome format --no-errors-on-unmatched {staged_files}

eslint:
  run: npx eslint {staged_files}

agents: Claude, Cursor, OpenCode alignment
  .cursor/mcp.json
  .cursor/skills/frontend-design
  .cursor/skills/vercel-composition-patterns
  .cursor/skills/vercel-react-best-practices
  .github/copilot-instructions.md
  .github/skills/frontend-design
  .github/skills/vercel-composition-patterns
  .github/skills/vercel-react-best-practices
  .mcp.json
  .opencode/agents/frontend-architect.md
  .opencode/skills/frontend-design
  .opencode/skills/vercel-composition-patterns
  .opencode/skills/vercel-react-best-practices
  AGENTS.md
  opencode.json
Due: biome-lint, biome-format

fix: Umami url
  app/layout.tsx
Due: biome-lint, biome-format, eslint

feat(PERS-30, PERS-31): Metadata & sitemap
  .env.example
  app/blog/[slug]/page.tsx
  app/sitemap.ts
  lib/site.ts
  next-env.d.ts
Due: biome-lint, biome-format, eslint

feat(PERS-26): Switch to docker based deployments
  .dockerignore
  .github/workflows/ci-cd.yml
  .github/workflows/cleanup-ghcr.yml
  Dockerfile
  next.config.ts
Due: biome-lint, biome-format, eslint

feat: Add healthcheck route
  Dockerfile
  app/api/health/route.ts
Due: biome-lint, biome-format, eslint

feat(PERS-36): Add CV download link
  app/about/page.tsx
  public/dimitris-trechas-cv.pdf
Due: biome-lint, biome-format, eslint

feat(PERS-36): Add CV download link
  app/about/page.tsx
  lib/cv.ts
  public/dimitris-trechas-cv.pdf
Due: biome-lint, biome-format, eslint

feat(PERS-20): Add article series from Ghost hub posts
  AGENTS.md
  app/_components/PostCard/index.tsx
  app/_components/SeriesCard/index.tsx
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/page.tsx
  app/series/[slug]/page.tsx
  app/sitemap.ts
  lib/series-tags.ts
  lib/series.ts
  types/post.ts
  types/series.ts
Due: biome-lint, biome-format, eslint

fix(PERS-20): Harden series tag checks and missing post 404
  AGENTS.md
  app/_components/PostCard/index.tsx
  app/blog/[slug]/page.tsx
  lib/series-tags.ts
  lib/series.ts
  types/post.ts
Due: biome-lint, biome-format, eslint

chore: Remove unused series import
  lib/series.ts
Due: biome-lint, biome-format, eslint

feat(PERS-20): Add article series from Ghost hub posts (#75)
  AGENTS.md
  app/_components/PostCard/index.tsx
  app/_components/SeriesCard/index.tsx
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/page.tsx
  app/series/[slug]/page.tsx
  app/sitemap.ts
  lib/series-tags.ts
  lib/series.ts
  types/post.ts
  types/series.ts
Due: biome-lint, biome-format, eslint

ci: add self-hosted Renovate via GitHub Actions
  .github/renovate-config.js
  .github/workflows/renovate.yml
  renovate.json
Due: biome-lint, biome-format, eslint

ci: align Renovate schedule and grouping with skateparks
  .github/renovate-config.js
  .github/renovate-config.json5
  .github/workflows/renovate.yml
  renovate.json
Due: biome-lint, biome-format, eslint

chore(deps): update github actions (major) to v7
  .github/workflows/ci-cd.yml
  .github/workflows/renovate.yml
Due: none

ci: run Renovate daily and open PRs each run
  .github/workflows/renovate.yml
  renovate.json
Due: biome-lint, biome-format

fix(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: biome-lint, biome-format

fix(deps): update all non-major dependencies (#79)
  package.json
  yarn.lock
Due: biome-lint, biome-format

chore(deps): update github actions (major) to v7 (#80)
  .github/workflows/ci-cd.yml
  .github/workflows/renovate.yml
Due: none

fix(deps): update npm packages (major)
  package.json
  yarn.lock
Due: biome-lint, biome-format

chore(deps): update all non-major dependencies
  .github/workflows/renovate.yml
  yarn.lock
Due: none

chore(deps): update all non-major dependencies (#82)
  .github/workflows/renovate.yml
  yarn.lock
Due: none

fix(deps): update all non-major dependencies
  .github/workflows/renovate.yml
  package.json
  yarn.lock
Due: biome-lint, biome-format

fix(deps): update all non-major dependencies (#83)
  .github/workflows/renovate.yml
  package.json
  yarn.lock
Due: biome-lint, biome-format

fix(deps): keep eslint and typescript on compatible major versions
  package.json
  yarn.lock
Due: biome-lint, biome-format

chore: migrate from yarn to pnpm
  .dockerignore
  .github/workflows/ci-cd.yml
  .gitignore
  Dockerfile
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: biome-lint, biome-format

ci: widen Renovate PR window to before 10am Athens
  renovate.json
Due: biome-lint, biome-format

chore(deps): update all non-major dependencies
  pnpm-lock.yaml
Due: none

chore(deps): update pnpm/action-setup action to v6
  .github/workflows/ci-cd.yml
Due: none

chore(deps): update pnpm/action-setup action to v6 (#86)
  .github/workflows/ci-cd.yml
Due: none

chore(deps): update all non-major dependencies (#84)
  pnpm-lock.yaml
Due: none

chore(deps): update npm packages (major)
  package.json
  pnpm-lock.yaml
Due: biome-lint, biome-format

fix(deps): make ESLint 10 and TypeScript 7 work together
  .pnpmfile.cjs
  eslint.config.mjs
  next.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-lint, biome-format, eslint

fix(docker): copy .pnpmfile.cjs for frozen pnpm install
  Dockerfile
Due: none

chore: sync next-env.d.ts with Next.js 16 build output
  next-env.d.ts
Due: biome-lint, biome-format, eslint

chore: stop tracking auto-generated next-env.d.ts
  next-env.d.ts
Due: biome-lint, biome-format, eslint

chore(deps): update npm packages (major) (major) (#85)
  .pnpmfile.cjs
  Dockerfile
  eslint.config.mjs
  next-env.d.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-lint, biome-format, eslint

ci: switch default branch from master to main
  .github/workflows/ci-cd.yml
Due: none

fix(deps): update all non-major dependencies
  .github/workflows/renovate.yml
  package.json
  pnpm-lock.yaml
Due: biome-lint, biome-format

fix(deps): update pnpm, next, and eslint-config-next
  package.json
  pnpm-lock.yaml
Due: biome-lint, biome-format

Path conditions:
  biome-lint: any of: *.{ts,tsx,js,mjs,json}
  biome-format: any of: *.{ts,tsx,js,mjs,json}
  eslint: any of: *.{ts,tsx,js,mjs}
