Repository dimitristrechas/personal-site: changes, and which lefthook commands are due for each by the changed paths.
All: biome-lint, biome-format, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-lint:
      glob: "*.{ts,tsx,js,mjs,json}"
      run: npx @biomejs/biome check --no-errors-on-unmatched {staged_files}
    biome-format:
      glob: "*.{ts,tsx,js,mjs,json}"
      run: npx @biomejs/biome format --no-errors-on-unmatched {staged_files}
    eslint:
      glob: "*.{ts,tsx,js,mjs}"
      run: npx eslint {staged_files}

fix: simplify markdown parser for external link
  lib/markdown.ts
Due: biome-lint, biome-format, eslint

ci: Try to autofix issues on pre-commit hook
  AGENTS.md
  lefthook.yml
  package.json
Due: biome-lint, biome-format

fix: improve external link calculation
  lib/markdown.ts
Due: biome-lint, biome-format, eslint

feat: outline tag color
  app/_components/Header/index.tsx
  app/_components/PostCard/index.tsx
  app/_components/ThemeToggle.tsx
  app/about/page.tsx
  app/blog/ClientComponent.tsx
  app/contact/page.tsx
  app/page.tsx
  package.json
Due: biome-lint, biome-format, eslint

fix: homepage a11y - contrast & focus visibility
  app/_components/PostCard/index.tsx
  app/global.css
  package.json
Due: biome-lint, biome-format, eslint

feat: dot tag color
  app/_components/PostCard/index.tsx
Due: biome-lint, biome-format, eslint

fix: header responsive design
  app/_components/Header/index.tsx
  app/_components/ThemeToggle.tsx
  package.json
Due: biome-lint, biome-format, eslint

refactor: minor last post styles
  app/_components/PostCard/index.tsx
Due: biome-lint, biome-format, eslint

feat: Add LICENSE.txt
  LICENSE.txt
Due: none

fix: external link calculation
  lib/markdown.ts
  package.json
Due: biome-lint, biome-format, eslint

agents: Add React Composition patterns skills
  .agents/skills/vercel-composition-patterns/AGENTS.md
  .agents/skills/vercel-composition-patterns/SKILL.md
  .agents/skills/vercel-composition-patterns/rules/architecture-avoid-boolean-props.md
  .agents/skills/vercel-composition-patterns/rules/architecture-compound-components.md
  .agents/skills/vercel-composition-patterns/rules/patterns-children-over-render-props.md
  .agents/skills/vercel-composition-patterns/rules/patterns-explicit-variants.md
  .agents/skills/vercel-composition-patterns/rules/react19-no-forwardref.md
  .agents/skills/vercel-composition-patterns/rules/state-context-interface.md
  .agents/skills/vercel-composition-patterns/rules/state-decouple-implementation.md
  .agents/skills/vercel-composition-patterns/rules/state-lift-state.md
  .claude/skills/vercel-composition-patterns
  .cursor/skills/vercel-composition-patterns
  .github/skills/vercel-composition-patterns
  .opencode/skills/vercel-composition-patterns
Due: none

feat: add caching on pages
  app/about/page.tsx
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/contact/page.tsx
  app/page.tsx
  package.json
Due: biome-lint, biome-format, eslint

fix: biome:check:fix
  app/about/page.tsx
  app/contact/page.tsx
Due: biome-lint, biome-format, eslint

fix: lefthook sequential checks
  lefthook.yml
Due: none

feat: add blog static generation and refactor type system
  app/_components/PostCard/index.tsx
  app/blog/ClientComponent.tsx
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/page.tsx
  app/sitemap.ts
  docs/brainstorms/2026-01-30-blog-static-generation-brainstorm.md
  docs/brainstorms/2026-01-30-type-system-refactor-brainstorm.md
  docs/plans/2026-01-30-feat-blog-static-generation-plan.md
  docs/plans/2026-01-30-refactor-type-system-organization-plan.md
  globals.d.ts
  package.json
  types/page.ts
  types/post.ts
Due: biome-lint, biome-format, eslint

feat: add blog static generation and refactor type system (#47)
  app/_components/PostCard/index.tsx
  app/blog/ClientComponent.tsx
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/page.tsx
  app/sitemap.ts
  docs/brainstorms/2026-01-30-blog-static-generation-brainstorm.md
  docs/brainstorms/2026-01-30-type-system-refactor-brainstorm.md
  docs/plans/2026-01-30-feat-blog-static-generation-plan.md
  docs/plans/2026-01-30-refactor-type-system-organization-plan.md
  globals.d.ts
  package.json
  types/page.ts
  types/post.ts
Due: biome-lint, biome-format, eslint

agents: compound knowledge
  docs/solutions/developer-experience/typescript-global-types-namespace-pollution-20260130.md
  docs/solutions/performance-issues/nextjs-dynamic-route-missing-static-params-20260130.md
Due: none

feat: Migrate to Ghost CMS
  .env.example
  AGENTS.md
  app/_components/PostCard/index.tsx
  app/about/page.tsx
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/contact/page.tsx
  app/page.tsx
  app/sitemap.ts
  lib/ghost.ts
  lib/markdown.ts
  package-lock.json
  package.json
  types/page.ts
  types/post.ts
Due: biome-lint, biome-format, eslint

fix: Stop tracking .env
  .env
Due: none

feat: Improve blog search
  app/blog/ClientComponent.tsx
  package.json
  utils/helpers.ts
Due: biome-lint, biome-format, eslint

fix: remove docs
  docs/brainstorms/2026-01-30-blog-static-generation-brainstorm.md
  docs/brainstorms/2026-01-30-type-system-refactor-brainstorm.md
  docs/plans/2026-01-30-feat-blog-static-generation-plan.md
  docs/plans/2026-01-30-refactor-type-system-organization-plan.md
  docs/solutions/developer-experience/typescript-global-types-namespace-pollution-20260130.md
  docs/solutions/performance-issues/nextjs-dynamic-route-missing-static-params-20260130.md
Due: none

agents: Configure project based mcp servers
  .cursor/mcp.json
  .mcp.json
  AGENTS.md
  README.md
  opencode.json
Due: biome-lint, biome-format

fix: README.md typo
  README.md
Due: none

chore: commit yarn.lock
  package-lock.json
  yarn.lock
Due: biome-lint, biome-format

chore: add sisyphus to gitignore
  .gitignore
Due: none

fix: published at instead of created at
  app/_components/PostCard/index.tsx
  app/blog/page.tsx
  app/page.tsx
  app/sitemap.ts
Due: biome-lint, biome-format, eslint

feat: add featured image
  app/blog/[slug]/page.tsx
  lib/markdown.ts
  package.json
  types/post.ts
Due: biome-lint, biome-format, eslint

fix: add remotePatters on <Image />
  next.config.ts
Due: biome-lint, biome-format, eslint

ci: use yarn instead of npm for CI workflow
  .github/workflows/ci-cd.yml
Due: none

fix: correct isExternalLink logic and remove duplicate dependency
  lib/markdown.ts
  package.json
Due: biome-lint, biome-format, eslint

refactor: add ISR to pages, memoize date formatter
  app/_components/PostCard/index.tsx
  app/about/page.tsx
  app/contact/page.tsx
  next-env.d.ts
Due: biome-lint, biome-format, eslint

fix: remove comment
  app/sitemap.ts
Due: biome-lint, biome-format, eslint

chore: add VSCode settings for default formatters
  .vscode/settings.json
Due: biome-lint, biome-format

chore: update dependencies and environment configuration
  .env.example
  app/blog/[slug]/page.tsx
  package.json
  yarn.lock
Due: biome-lint, biome-format, eslint

chore: update ESLint version and adjust VSCode settings
  .vscode/settings.json
  yarn.lock
Due: biome-lint, biome-format

feat(PERS-28): add publication date to blog post page
  app/blog/[slug]/page.tsx
Due: biome-lint, biome-format, eslint

agents: Improvements in structure
  AGENTS.md
  app/about/page.tsx
  app/blog/[slug]/page.tsx
  app/contact/page.tsx
  lib/html.ts
  next-env.d.ts
  next.config.ts
Due: biome-lint, biome-format, eslint
