Repository dimitristrechas/personal-site: changes, and which lefthook commands are due for each by the changed paths.
All: biome-lint, biome-format, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-lint:
      glob: "*.{ts,tsx,js,mjs,json}"
      run: npx @biomejs/biome check --no-errors-on-unmatched {staged_files}
    biome-format:
      glob: "*.{ts,tsx,js,mjs,json}"
      run: npx @biomejs/biome format --no-errors-on-unmatched {staged_files}
    eslint:
      glob: "*.{ts,tsx,js,mjs}"
      run: npx eslint {staged_files}

fix: search results text
  app/blog/ClientComponent.tsx
  package.json
Due: biome-lint, biome-format, eslint

feat: Add GitHub workflow for lint and format
  .github/workflows/lint.yml
  .nvmrc
  lefthook.yml
  package.json
Due: biome-lint, biome-format

fix(agents): Update tools
  .github/agents/frontend-architect.agent.md
Due: none

feat: Add commit-msg hook for conventional commits
  lefthook.yml
Due: none

ci: Introduce commit message validations
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  lefthook.yml
Due: none

ci: Improve CI
  .github/workflows/ci-cd.yml
  app/_components/Header/index.tsx
  app/_components/PostCard/index.tsx
  app/about/page.tsx
  app/blog/ClientComponent.tsx
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/contact/page.tsx
  app/layout.tsx
  app/page.tsx
  biome.json
  eslint.config.mjs
  lefthook.yml
  package.json
  tsconfig.json
Due: biome-lint, biome-format, eslint

fix(ci): Missing lint script
  package.json
Due: biome-lint, biome-format

chore: upgrade to node 24 lts, update all deps
  .github/workflows/ci-cd.yml
  .nvmrc
  package-lock.json
  package.json
Due: biome-lint, biome-format

agents: Add .sisyphus dir to gitignore
  .gitignore
Due: none

feat: Add dark mode theme system with next-themes and toggle component
  app/_components/ThemeProvider.tsx
  app/_components/ThemeToggle.tsx
  app/layout.tsx
  next-env.d.ts
  package-lock.json
  package.json
Due: biome-lint, biome-format, eslint

fix: Improve text visibility in dark mode for header and prose
  app/_components/Header/index.tsx
  app/_components/PostCard/index.tsx
  app/blog/[slug]/page.tsx
Due: biome-lint, biome-format, eslint

style: Add dark mode prose heading contrast and update gitignore
  .gitignore
  app/global.css
Due: none

fix(ui): page title contrast in dark mode
  app/about/page.tsx
  app/contact/page.tsx
  app/page.tsx
Due: biome-lint, biome-format, eslint

fix(ui): blog page title contrast in dark mode
  app/blog/ClientComponent.tsx
Due: biome-lint, biome-format, eslint

fix(a11y): add aria-current to active nav links
  app/_components/Header/index.tsx
  app/global.css
  app/layout.tsx
Due: biome-lint, biome-format, eslint

fix(a11y): use role="search" for broader support
  app/blog/ClientComponent.tsx
Due: biome-lint, biome-format, eslint

fix(a11y): fix home page heading hierarchy
  app/global.css
  app/page.tsx
Due: biome-lint, biome-format, eslint

fix(a11y): improve tag contrast with text shadow fallback
  app/_components/PostCard/index.tsx
Due: biome-lint, biome-format, eslint

agents: Improve rules and add sisyphus plans and notes to git
  .gitignore
  .sisyphus/notepads/dark-mode-fixes/COMPLETION_SUMMARY.md
  .sisyphus/notepads/dark-mode-fixes/decisions.md
  .sisyphus/notepads/dark-mode-fixes/issues.md
  .sisyphus/notepads/dark-mode-fixes/learnings.md
  .sisyphus/notepads/dark-mode-fixes/problems.md
  .sisyphus/notepads/node24-upgrade/decisions.md
  .sisyphus/notepads/node24-upgrade/issues.md
  .sisyphus/notepads/node24-upgrade/learnings.md
  .sisyphus/notepads/node24-upgrade/problems.md
  .sisyphus/notepads/shadcn-dark-mode/decisions.md
  .sisyphus/notepads/shadcn-dark-mode/issues.md
  .sisyphus/notepads/shadcn-dark-mode/learnings.md
  .sisyphus/notepads/shadcn-dark-mode/problems.md
  .sisyphus/notepads/wcag-aa-compliance/decisions.md
  .sisyphus/notepads/wcag-aa-compliance/issues.md
  .sisyphus/notepads/wcag-aa-compliance/learnings.md
  .sisyphus/notepads/wcag-aa-compliance/problems.md
  .sisyphus/plans/dark-mode-fixes.md
  .sisyphus/plans/node24-upgrade.md
  .sisyphus/plans/shadcn-dark-mode.md
  .sisyphus/plans/wcag-aa-compliance.md
  AGENTS.md
  opencode.json
Due: biome-lint, biome-format

fix: use <search> element
  app/blog/ClientComponent.tsx
Due: biome-lint, biome-format, eslint

chore: bump to 2.3.1
  package.json
Due: biome-lint, biome-format

fix(ui): add dark mode contrast to about/contact pages
  app/about/page.tsx
  app/contact/page.tsx
Due: biome-lint, biome-format, eslint

chore: bump to 2.3.1 and add sisyphus markdowns
  .sisyphus/notepads/dark-mode-contrast-fix/decisions.md
  .sisyphus/notepads/dark-mode-contrast-fix/issues.md
  .sisyphus/notepads/dark-mode-contrast-fix/learnings.md
  .sisyphus/notepads/dark-mode-contrast-fix/problems.md
  .sisyphus/plans/dark-mode-contrast-fix.md
Due: none

fix(contact): add fetch cache to prevent hydration mismatch
  app/contact/page.tsx
Due: biome-lint, biome-format, eslint

fix: Hero image resize
  .sisyphus/notepads/fix-contact-hydration/decisions.md
  .sisyphus/notepads/fix-contact-hydration/issues.md
  .sisyphus/notepads/fix-contact-hydration/learnings.md
  .sisyphus/notepads/fix-contact-hydration/problems.md
  .sisyphus/plans/asset-performance.md
  .sisyphus/plans/fix-contact-hydration.md
  .sisyphus/plans/pers-16-image-optimization.md
  app/page.tsx
  next-env.d.ts
  public/headshot-compressed.jpg
Due: biome-lint, biome-format, eslint

feat(seo): add robots.txt with AI crawler blocking
  app/robots.ts
Due: biome-lint, biome-format, eslint

feat(seo): add dynamic sitemap with blog posts
  app/sitemap.ts
Due: biome-lint, biome-format, eslint

refactor(seo): rename middleware.ts to proxy.ts per Next.js 16
  proxy.ts
Due: biome-lint, biome-format, eslint

fix: remove black borders from hero image
  public/headshot-compressed.jpg
Due: none

docs(sisyphus): update plan completion status and learnings
  .sisyphus/notepads/robots-sitemap-fix/SUMMARY.md
  .sisyphus/notepads/robots-sitemap-fix/decisions.md
  .sisyphus/notepads/robots-sitemap-fix/issues.md
  .sisyphus/notepads/robots-sitemap-fix/learnings.md
  .sisyphus/notepads/robots-sitemap-fix/problems.md
  .sisyphus/plans/robots-sitemap-fix.md
Due: none

docs(sisyphus): mark all tasks complete - proxy.ts solved Cloudflare blocker
  .sisyphus/plans/robots-sitemap-fix.md
Due: none

docs(sisyphus): finalize summary - all 12/12 tasks complete
  .sisyphus/notepads/robots-sitemap-fix/SUMMARY.md
Due: none

fix: next-env.d.ts
  next-env.d.ts
Due: biome-lint, biome-format, eslint

docs(sisyphus): mark all plans as done
  .sisyphus/plans/asset-performance.md
  .sisyphus/plans/pers-16-image-optimization.md
  .sisyphus/plans/shadcn-dark-mode.md
Due: none

fix: drop custom robots logic
  app/robots.ts
Due: biome-lint, biome-format, eslint

feat(markdown): add shared utility with external link handling
  lib/markdown.ts
Due: biome-lint, biome-format, eslint

refactor(pages): use shared markdown utility for blog/about/contact
  app/about/page.tsx
  app/blog/[slug]/page.tsx
  app/contact/page.tsx
Due: biome-lint, biome-format, eslint

chore(sisyphus): add docs from latest plan
  .sisyphus/notepads/external-links-new-tab/decisions.md
  .sisyphus/notepads/external-links-new-tab/issues.md
  .sisyphus/notepads/external-links-new-tab/learnings.md
  .sisyphus/notepads/external-links-new-tab/problems.md
  .sisyphus/plans/external-links-new-tab.md
Due: none
